html {
  box-sizing: border-box;
}
h1,
h2,
h3,
ul,
li,
p,
a {
  list-style: none;
  text-transform: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
*::before,
*::after {
  box-sizing: inherit;
}
* {
  box-sizing: border-box;
}
:root {
  --tagline-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --link-color: #2196f3;
  --text-color: #757575;
  --icon-color: #afb1b8;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
  color: var(--text-color);
  color: var(--icon-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

.modal-button,
.portfolio-button {
  border: transparent;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Header */
.container-nav {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

/* Webstudio */
.logo-link {
  display: block;
  margin-right: 93px;
}

.logo-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.logo-type {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* menu navigation */
.header {
  border-bottom: 1px solid #ececec;
}
.navigation .menu-link.current {
  color: var(--link-color);
}

.menu {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--link-color);
}
.menu-link:hover::after,
.menu-link:focus::after {
  display: block;
  opacity: 1;
}
.menu-link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--link-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--link-color);
  border-radius: 2px;
  opacity: 1;
}
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link-item:not(:last-child) {
  margin-right: 50px;
}

.mail-link,
.tel-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon {
  fill: currentColor;
}

.mail-link:hover,
.mail-link:focus {
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ===========Hero============ */
/* main section */
.container {
  margin-top: 0;
  margin-bottom: 0;
}
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.title {
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tagline-color);
}
.modal-button {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-text {
  padding: 11px 32px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.modal-button:hover,
.modal-button:focus {
  color: var(--link-color);
}
.modal-button:active {
  background: var(--link-color);
}

/* about company's concept section */
.section-concept {
  padding: 94px 0;
}
.concept-list {
  display: flex;
  flex-basis: calc((100% - 90px) / 4);
}
.concept-list-item:not(:last-child) {
  margin-right: 30px;
}
.concept-list-item {
  display: flex;
  flex-wrap: wrap;
}
.concept-icon {
  width: 270px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.concept-list-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.subtitle-text {
  text-transform: uppercase;
}
.concept-list-title-text {
  text-align: left;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* about specification */
.specification {
  padding-bottom: 94px;
}
.specification-list {
  display: flex;
}
.specification-title {
  margin-bottom: 50px;
}
.specification-title,
.teammate-title,
.client-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.specification-list-images:not(:last-child) {
  margin-right: 30px;
}
.specification-list-images {
  position: relative;
}
.service-desc {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.service-text {
  font-family: var(--main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tagline-color);
}
/* about teamates */
.teammate {
  padding: 94px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}
.teammate-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}

.team-list-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item {
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-image {
  padding: 30px 32px 30px 32px;
}
.team-list-title-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.network {
  display: flex;
  justify-content: center;
  align-items: center;
}

.network-item:not(:last-child) {
  margin-right: 10px;
}
.network-item {
  display: flex;
}
.network-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-icon-icon {
  fill: currentColor;
}
.network-icon:hover,
.network-icon:focus {
  color: #ffffff;
  background-color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network-icon-icon:hover,
.network-icon-icon:focus {
  color: currentColor;
  background-color: var(--link-color);
}

/* Clients */
.clients {
  padding: 94px 0;
}
.client-title {
  margin-bottom: 50px;
}
.client-list {
  display: flex;
  justify-content: space-between;
}
.client-list-item:not(:last-child) {
  margin-right: 30px;
}
.client-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
}
.icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
  color: var(--icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-image:hover .client-icon,
.icon-image:focus .client-icon {
  fill: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-image:hover,
.icon-image:focus {
  border: 1px solid var(--link-color);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button-item {
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
}
.portfolio-button-item {
  margin-right: 8px;
}
.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  display: inline-block;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: white;
  background: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.set-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.set-list .set-list-icon:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.set-list > .set-list-item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
  box-sizing: border-box;
}
.set-list-icon:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.set-list-icon {
  display: block;
}
.set-list-image-text {
  position: relative;
  overflow: hidden;
}
.set-list-item:hover .set-list-text {
  transform: translateY(0);
}
.set-list-icon:hover .set-list-text,
.set-list-icon:focus .set-list-text {
  transform: translateY(-100%);
}
.set-list-text {
  position: absolute;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-content {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.list-projects {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.list-projects-text {
  margin-top: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* footer */
.footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: center;
  background-color: #2f303a;
}
.footer-common {
  display: flex;
  align-items: baseline;
}
.contacts {
  margin-right: 70px;
}
.contact-item {
  display: block;
}
.contacts-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.contacts-mail,
.contacts-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-mail:focus,
.contacts-mail:hover {
  color: var(--link-color);
}

.contacts-tel:focus,
.contacts-tel:hover {
  color: var(--link-color);
}

.footerlink {
  margin-bottom: 20px;
}
.footer-title {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-network-list {
  display: flex;
}
.footer-icon {
  display: flex;
}
.footer-network-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-network-icon-icon {
  fill: currentColor;
}
.footer-icon:not(:last-child) {
  margin-right: 10px;
}
.footer-network-icon:hover,
.footer-network-icon:focus {
  color: white;
  background-color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing {
  display: block;
  margin-left: 93px;
}
.footer-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer-text-form {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-btn {
  position: relative;

  margin-left: 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  vertical-align: middle;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: var(--tagline-color);
  background-color: var(--link-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border: 1px solid var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

/* -----Footer-end------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  fill: var(--link-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
}
.modal-form-head {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}
.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--main-color);
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  border-color: var(--link-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--link-color);
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message {
  margin-top: 4px;
  margin-bottom: 17px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--link-color);
}

.modal-form-checkbox-label::before {
  display: block;
  margin-right: 7px;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid var(--link-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  color: var(--tagline-color);
  border-radius: 4px;
  border-color: #188ce8;
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
